@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background-color: #081C15;
}
p {
    color: #D8F3DC;
    font-size: medium;
    font-family: 'Ubuntu Mono', monospace;
}
h1 {
    color: #D8F3DC;
    font-size: 40px;
}
h2 {
    color: #74C69D;
    font-size: 25px;
}
.main {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    width: 90%;
}
#index {
    display: inline;
}
#input {
    border: none;
    height: 40px;
    width: 100%;
    font-size: 35px;
    background-color: #081C15;
    color: #74C69D;
}
#input::placeholder {
    color: #74C69D;
}
#input:focus, #input:focus {
    outline: none;
}
.char {
    display: table-cell;
    background-color: #1B4332;
    text-align: center;
    padding: 10px;
    border: 2px solid #52B788;
    border-radius: 10px;
}
.char-empty {
    display: table-cell;
    background-color: #2D6A4F;
    text-align: center;
    padding: 10px;
    border: 2px solid #52B788;
    border-radius: 10px;
}
#form {
    margin-bottom: 30px;
}